
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: url('assets/purplelightning.gif') no-repeat center center fixed;
    background-size: cover;
    color: #ead8f0;
    font-family: 'Arial', sans-serif;
}



.landing-container, .gate-container, .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.logo-main {
    width: 50%;
    max-width: 400px;
    margin-bottom: 2rem;
}

.enter-button {
    padding: 1rem 2rem;
    background-color: #7b26c1;
    color: #ead8f0;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.enter-button:hover {
    background-color: #3b126f;
}

.logo-small {
    width: 30%;
    max-width: 200px;
    margin-bottom: 2rem;
}

.subscribe-container {
    display: flex;
    margin-bottom: 1rem;
}

.email-input {
    padding: 0.5rem;
    border: 1px solid #7b26c1;
    background-color: #000;
    color: #ead8f0;
}

.subscribe-button {
    padding: 0.5rem 1rem;
    background-color: #7b26c1;
    color: #ead8f0;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe-button:hover {
    background-color: #3b126f;
}

.password-container {
    cursor: pointer;
}

.lock-icon {
    margin-right: 0.5rem;
}

.password-input {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #7b26c1;
    background-color: #000;
    color: #ead8f0;
}

.hidden {
    display: none;
}

.tabs {
    margin-bottom: 2rem;
}

.tab-button {
    padding: 1rem 2rem;
    background-color: transparent;
    color: #ead8f0;
    border: 1px solid #7b26c1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab-button.active, .tab-button:hover {
    background-color: #3b126f;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.video-list, .media-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.video-list iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
}

.media-grid img, .media-grid video {
    width: 100%;
    max-width: 300px;
    height: auto;
}

@media (min-width: 768px) {
    .logo-main {
        width: 100%;
        max-width: 1000px;
    }

    .logo-small {
        width: 80%;
        max-width: 500px;
    }
}
